.news {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 25vw);
  margin: 0 auto;
  background-color: #f8f9fd;
  justify-content: space-between;
}
@media (max-width: 650px) {
  .news {
    display: block;
    width: 100vw;
  }
}
