.profile {
  background-color: #f1f1f1;
}
.profile .block_profile {
  display: grid;
  margin: 0 auto;
  width: calc(100% - 25vw);
  grid-template-areas: 'a b';
  grid-template-columns: 30% 70%;
}
.profile .block_profile .block_foto {
  grid-area: a;
}
.profile .block_profile .block_foto img {
  width: 100%;
  margin: 20px auto 0px auto;
  overflow: hidden;
  border-radius: 50%;
}
.profile .block_profile .block_info {
  grid-area: b;
  padding-top: 30px;
  padding-left: 30px;
}
.profile .block_profile .block_info .block_name_user {
  font-size: 40px;
}
.profile .block_profile .block_info .block_about_me {
  text-align: justify;
}
