.profile {
    background-color: #f1f1f1;
  


    .block_profile {
        display: grid; 
        margin: 0 auto;
        width: calc(100% - 25vw);
        grid-template-areas: 'a b';
        grid-template-columns: 30% 70%;

        .block_foto {
            grid-area: a;
          


            img {
                
                width: 100%;
                margin: 20px auto 0px auto;
                overflow: hidden;
                border-radius: 50%;
               
            }

        }

        .block_info {
            grid-area: b;
            padding-top: 30px;
            padding-left: 30px;

            .block_name_user {
                font-size: 40px;
            }

            .block_about_me {
                text-align: justify;
            }
        }


    }


}

// @media (max-width: 1170px) {
//     .profile {
//         width: 100%;
//         margin: 0 auto;


//         .block_profile {
//             display: grid;
//             width: 100%;
//             grid-template-areas: 'a'
//                 'b';
//             grid-template-columns: 1fr;

//             .block_foto {
//                 grid-area: a;
//                 margin: 0px auto;

//                 img {
//                     width: 300px;
//                     border-radius: 180px;
//                     padding-top: 20px;
//                 }
//             }

//             .block_info {
//                 grid-area: b;
//                 padding-top: 30px;
//                 padding-left: 0px;

//                 .block_name_user {
//                     text-align: center;
//                 }
//             }
//         }
//     }
// }