@font-face {
  font-family: 'Comforter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/comforter/v5/H4clBXOCl8nQnlaql3Qa6A.ttf) format('truetype');
}
@font-face {
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/tenorsans/v17/bx6ANxqUneKx06UkIXISr3I.ttf) format('truetype');
}
.header {
  padding-top: 10px;
  background-color: #f1f1f1;
}
.header .container {
  width: calc(100% - 25vw);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .logo {
  font-family: 'Comforter', cursive;
  font-size: calc(2em + 1.2vw);
  text-shadow: 2px 2px 3px #060000;
}
.header .container .logo a {
  text-decoration: none;
  color: black;
}
.header .container .logo.active {
  text-decoration: none;
}
.header .container .nav_link {
  display: flex;
  justify-content: space-evenly;
  padding-left: 50px;
}
.header .container .nav_link a {
  padding-left: 20px;
  color: inherit;
  /* blue colors for links too */
  text-decoration: none;
  /* no underline */
}
.header .container .nav_link a.active {
  text-decoration: #032e0e underline;
  color: #032e0e;
  text-shadow: 1px 1px 2px #030000;
}
.header .container .menu_burger {
  display: none;
}
@media screen and (max-width: 650px) {
  .header {
    width: 100vw;
    z-index: 99999;
  }
  .header .container {
    width: 95vw;
    justify-content: space-between;
  }
  .header .container .logo {
    z-index: 9999;
  }
  .header .container .nav_link {
    position: fixed;
    flex-direction: column;
    top: 0;
    right: 0;
    inset: 0 0 0 30%;
    z-index: 1000;
    justify-content: start;
    padding-top: 100px;
    backdrop-filter: blur(1px);
    background: hsl(40, 50%, 90%);
    opacity: 0.9;
    transform: translateX(100%);
    transition: all 0.2s linear;
  }
  .header .container .nav_link_open {
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 0;
    right: 0;
    inset: 0 0 0 10%;
    z-index: 1000;
    justify-content: start;
    padding-top: 100px;
    backdrop-filter: blur(1px);
    background: hsl(40, 50%, 90%);
    opacity: 0.9;
    transform: translateX(5%);
    transition: all 0.5s linear;
  }
  .header .container .nav_link_open a {
    padding: 1rem 2em;
    text-decoration: none;
    color: black;
    font-weight: 900;
  }
  .header .container .nav_link a {
    padding: 1rem 2em;
  }
  .header .container .menu_burger {
    display: flex;
    align-items: center;
    position: relative;
    width: 40px;
    height: 40px;
    z-index: 9999;
    right: 10px;
    padding-bottom: 4px;
  }
  .header .container .menu_burger span {
    background-image: url(../../img/menu.png);
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    right: 0px;
  }
  .header::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    z-index: 9999;
    height: 50px;
    padding-top: 4px;
    background: #f1f1f1;
  }
}
