@font-face {
  font-family: 'Comforter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/comforter/v5/H4clBXOCl8nQnlaql3Qa6A.ttf) format('truetype');
}
@font-face {
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/tenorsans/v17/bx6ANxqUneKx06UkIXISr3I.ttf) format('truetype');
}
.header {
  padding-top: 10px;
  background-color: #f1f1f1;
}
.header .container {
  width: calc(100% - 25vw);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .logo {
  font-family: 'Comforter', cursive;
  font-size: calc(2em + 1.2vw);
  text-shadow: 2px 2px 3px #060000;
}
.header .container .logo a {
  text-decoration: none;
  color: black;
}
.header .container .logo.active {
  text-decoration: none;
}
.header .container .nav_link {
  display: flex;
  justify-content: space-evenly;
  padding-left: 50px;
}
.header .container .nav_link a {
  padding-left: 20px;
  color: inherit;
  /* blue colors for links too */
  text-decoration: none;
  /* no underline */
}
.header .container .nav_link a.active {
  text-decoration: #032e0e underline;
  color: #032e0e;
  text-shadow: 1px 1px 2px #030000;
}
@media screen and (max-width: 650px) {
  .header {
    width: 100vw;
  }
  .header .container {
    width: 95vw;
    justify-content: center;
  }
  .header .container .nav_link {
    padding-left: 5px;
    justify-content: center;
  }
  .header .container .nav_link .a {
    padding-left: 5px ;
  }
}
