footer {
    background-color: #f1f1f1;
    height: 60px;
    .block_footer {
        margin: 0px auto;
        width: calc(100% - 25vw);
        text-align: center;
        vertical-align: middle;
        padding-top: 20px;

    }
}

// @media (max-width: 1170px) {
//     footer{
// .block_footer{
//     width: 100vw;
// }
//     }}